/* Start header */
.header {
  background: url(../../images/pages/introduce/Header/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -80px;
  width: 100%;
  position: relative;
}

.header .header-contain {
  height: 100%;
}

.header .header-contain .container-md {
  height: 100%;
  position: relative;
}

.header .header-history {
  position: absolute;
  bottom: 25%;
  left: 2.5%;
  right: 2.5%;
}

.header .header-title {
  background: linear-gradient(to right, #25b5ee, #e814da);
  background-clip: text;
  color: transparent;
  font-size: 72px;
}

.header .header-description {
  font-size: 24px;
}

@media screen and (max-width: 1199.99px) {
  .header .header-title {
    font-size: 66px;
  }
  .header .header-description {
    font-size: 21px;
  }
}

@media screen and (max-width: 991.99px) {
  .header .header-title {
    font-size: 60px;
  }
  .header .header-description {
    font-size: 17px;
  }
}

@media screen and (max-width: 767.99px) {
  .header .header-title {
    font-size: 54px;
  }
  .header .header-description {
    font-size: 14px;
  }
}
/* End header */

/* Start history */
.history {
  background: #ffe5c7;
  height: 200vh;
  overflow-x: hidden;
}

.history .history-top {
  height: 100vh;
  color: #001656;
  text-align: justify;
}

.history .history-bottom {
  color: #c3edff;
  height: 80vh;
  background: #00144d;
  position: relative;
  text-align: justify;
}

.history .history-title {
  padding-top: 112px;
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 56px;
}

.history .history-bottom .history-title {
  text-align: center;
}

.history .history-description {
  font-size: 22px;
}

.history-bottom::after,
.history-bottom::before {
  position: absolute;
  content: "SPIT";
  background: linear-gradient(
    to bottom,
    #00144d 0px,
    #00144d 70px,
    #ffe5c7 70px,
    #ffe5c7 100%
  );
  color: transparent;
  background-clip: text;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-family: "MuseoModerno", sans-serif;
  font-size: 180px;
}

.history-bottom::after {
  transform: rotate(180deg);
  right: -70px;
  bottom: -70px;
}

.history-bottom::before {
  left: -70px;
  top: -70px;
}

/* Responsive adjustments */
@media screen and (max-width: 1199.99px) {
  .history-bottom::after,
  .history-bottom::before {
    font-size: 140px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 55px,
      #ffe5c7 55px,
      #ffe5c7 100%
    );
    background-clip: text;
  }

  .history-bottom::after {
    right: -55px;
    bottom: -55px;
  }

  .history-bottom::before {
    left: -55px;
    top: -55px;
  }
  .history .history-title {
    font-size: 40px;
    padding-top: 100px;
    margin-bottom: 44px;
  }
  .history .history-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 991.99px) {
  .history .history-title {
    font-size: 36px;
    padding-top: 88px;
    margin-bottom: 32px;
  }
  .history .history-description {
    font-size: 18px;
  }
}

@media (max-width: 767.99px) {
  
}

@media (max-width: 575.99px) {

}

/* End history */
