/* Start header */
.header {
  background: url(../../images/pages/introduce/Header/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -80px;
  width: 100%;
  position: relative;
}

.header .header-contain {
  height: 100%;
}

.header .header-contain .container-md {
  height: 100%;
  position: relative;
}

.header .header-history {
  position: absolute;
  bottom: 25%;
  left: 2.5%;
  right: 2.5%;
}

.header .header-title {
  background: linear-gradient(to right, #25b5ee, #e814da);
  background-clip: text;
  color: transparent;
  font-size: 72px;
}

.header .header-description {
  font-size: 24px;
}

/* Start header responsive*/
@media screen and (max-width: 1199.98px) {
  .header .header-title {
    font-size: 66px;
  }
  .header .header-description {
    font-size: 21px;
  }
}

@media screen and (max-width: 991.98px) {
  .header .header-title {
    font-size: 60px;
  }
  .header .header-description {
    font-size: 17px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    margin-top: -60px;
  }
  .header .header-title {
    font-size: 54px;
  }
  .header .header-description {
    font-size: 14px;
  }
}
/* End header responsive*/
/* End header */

/* Start history */
.history {
  background: #ffe5c7;
  height: 1500px;
  overflow-x: hidden;
}

.history .history-top {
  height: 750px;
  color: #001656;
  text-align: justify;
}

.history .col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .col-lg-5 img {
  width: 300px;
  aspect-ratio: 4 / 3;
  border-radius: 8px;
}

.history .history-bottom {
  color: #c3edff;
  height: 600px;
  background: #00144d;
  position: relative;
  text-align: justify;
}

.history .history-title {
  padding-top: 100px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

.history .history-bottom .history-title {
  text-align: center;
}

.history .history-description {
  font-size: 24px;
}

.history-bottom::after,
.history-bottom::before {
  position: absolute;
  content: "SPIT";
  background: linear-gradient(
    to bottom,
    #00144d 0px,
    #00144d 60px,
    #ffe5c7 60px,
    #ffe5c7 100%
  );
  color: transparent;
  background-clip: text;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-family: var(--fontTextExtra);
  font-size: 160px;
}

.history-bottom::after {
  transform: rotate(180deg);
  right: -60px;
  bottom: -60px;
}

.history-bottom::before {
  left: -60px;
  top: -60px;
}

/* Start history responsive */
@media screen and (max-width: 1299.98px) {
  .history-bottom::after,
  .history-bottom::before {
    font-size: 140px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 55px,
      #ffe5c7 55px,
      #ffe5c7 100%
    );
    background-clip: text;
  }
  .history-bottom::after {
    right: -55px;
    bottom: -55px;
  }
  .history-bottom::before {
    left: -55px;
    top: -55px;
  }
}
@media screen and (max-width: 1199.98px) {
  .history-bottom::after,
  .history-bottom::before {
    font-size: 120px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 45px,
      #ffe5c7 45px,
      #ffe5c7 100%
    );
    background-clip: text;
  }

  .history-bottom::after {
    right: -45px;
    bottom: -45px;
  }

  .history-bottom::before {
    left: -45px;
    top: -45px;
  }
  .history .history-title {
    font-size: 36px;
    padding-top: 85px;
    margin-bottom: 40px;
  }
  .history .history-description {
    font-size: 22px;
  }
}

@media screen and (max-width: 991.98px) {
  .history {
    height: 1000px;
  }
  .history .history-title {
    font-size: 32px;
    padding-top: 70px;
    margin-bottom: 30px;
  }
  .history .history-description {
    font-size: 18px;
  }
  .history .row {
    height: 100%;
  }
  .history .history-top {
    color: #001656;
    text-align: justify;
  }
  .history .history-top {
    height: 500px;
  }
  .history .history-bottom {
    color: #c3edff;
    height: 500px;
    text-align: justify;
  }
  .history-top {
    position: relative;
  }
  .history-top::after {
    z-index: 1;
    content: "SPIT";
    transform: rotate(180deg);
    position: absolute;
    color: transparent;
    font-size: 100px;
    background: linear-gradient(
      to bottom,
      #ffe5c7 0px,
      #ffe5c7 180px,
      #00144d 180px,
      #00144d 100%
    );
    right: -40px;
    bottom: -180px;
    background-clip: text;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: var(--fontTextExtra);
  }
  .history-bottom::before {
    font-size: 100px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 180px,
      #ffe5c7 180px,
      #ffe5c7 100%
    );
    background-clip: text;
    left: -40px;
    top: -180px;
  }
  .history-bottom::after {
    display: none;
  }
  .history .history-top .history-title {
    text-align: center;
  }
  .history .col-lg-5 img {
    width: 300px;
    aspect-ratio: 16 / 9;
    margin-bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  .history .history-title {
    font-size: 28px;
    padding-top: 55px;
    margin-bottom: 20px;
  }
  .history .history-description {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .history {
    height: 750px;
  }
  .history .history-bottom,
  .history .history-top {
    height: 375px;
  }
  .history .history-title {
    font-size: 24px;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  .history .history-description {
    font-size: 14px;
  }
  .history .history-bottom .history-title {
    display: none;
  }
  .history .history-bottom {
    position: relative;
  }
  .history .history-bottom .history-description {
    position: absolute;
    top: 187.5px;
    padding-right: inherit;
  }
  .history .col-lg-5 img {
    display: none;
  }
  .history-top::after,
  .history-bottom::before {
    display: none;
  }
  .history .d-sm-none.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .history .col-sm-12 img {
    z-index: 1;
    width: 300px;
    aspect-ratio: 4 / 3;
    position: absolute;
  }
}
/* End history responsive */
/* End history */

/* Start vision */
.vision {
  padding: 80px 0;
  background: #d9d9d9;
}
.vision .water-drop {
  background: #f0f0f0;
  position: relative;
  width: 450px;
  height: 450px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vision .water-drop:hover {
  border-radius: 50%;
}

.vision .water-drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.9;
}

.vision .water-drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.9;
}

.vision .water-drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.vision .water-drop .content h2 {
  color: #307ae8;
  position: relative;
  padding: 15px;
  border-radius: 30px;
  background: #f1f1f1;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 30px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision .water-drop .content p {
  color: #003c6c;
  position: relative;
  margin-bottom: 0;
}

.vision .water-drop .content p::before {
  content: "\f10d";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #9a9a9a;
  left: 0;
  top: -30px;
  font-size: 24px;
}

.vision .water-drop .content p::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #9a9a9a;
  right: 70px;
  bottom: -20px;
  font-size: 24px;
}
/* End vision */

/* Start purpose */
.purpose {
  padding: 100px 0;
}

.purpose .purpose-content {
  color: #001656;
}

.purpose .purpose-content .purpose-description {
  text-align: justify;
}

.purpose .purpose-content .purpose-title {
  margin-bottom: 40px;
  font-size: 42px;
}

.purpose .purpose-content a {
  color: #0042FF;
}

.purpose .purpose-images .image-box {
  width: 150px;
  height: 400px;
}

.purpose .purpose-images .image-box:nth-child(even) {
  margin-top: 0;
}

.purpose .purpose-images .image-box:nth-child(odd) {
  margin-top: 60px;
}

.purpose .purpose-images .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 90px;
  object-fit: cover;
}

/* Start purpose responsive */
@media screen and (max-width: 1199.98px) {
  .purpose .purpose-content .purpose-title {
    font-size: 38px;
  }
  .purpose .purpose-images .image-box {
    width: 125px;
    height: 375px;
  }
  .purpose .purpose-images .image-box:nth-child(odd) {
    margin-top: 120px;
  }
}
@media screen and (max-width: 991.98px) {
  .purpose {
    padding: 80px 0;
  }
  .purpose .purpose-images .image-box {
    width: 150px;
    height: 400px;
  }
  .purpose .purpose-images .image-box:nth-child(odd) {
    margin-top: 0;
  }
  .purpose .purpose-content .purpose-title {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .purpose {
    padding: 60px 0;
  }
  .purpose .purpose-content .purpose-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .purpose .purpose-images .image-box {
    padding: 0 15px;
    width: 400px;
    height: 100px;
  }
  .purpose .purpose-images .image-box:first-child {
    margin-top: 30px;
  }
  .purpose .purpose-images .image-box:nth-child(2) {
    margin-top: 30px;
  }
  .purpose .purpose-images .image-box:last-child {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575.98px) {
  .purpose .purpose-images .image-box {
    width: 375px;
    height: 75px;
  }
}
/* End purpose responsive */
/* End purpose */

/* Start time */
.time {
  background: #D4D8ED;
  padding: 100px 0;
}

.time .time-head {
  color: #0045B3;
}

.time .time-head .time-title {
  padding-bottom: 7.5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #0045B3;
  font-size: 42px;
}

.time .time-body {
  margin-top: 30px;
  color: #192335;
}

.time .time-body .time-content {
  margin-bottom: 90px;
}

.time .time-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.time .time-images .image-contain {
  width: 500px;
  height: 250px;
}

.time .time-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #9A7AA3;
  border-radius: 20px;
}

/* Start time responsive */
@media screen and (max-width: 1199.98px) {
  .time .time-head .time-title {
    font-size: 38px;
  }
  .time .time-body .time-content {
    margin-bottom: 75px;
  }
  .time .time-images .image-contain {
    width: 400px;
    height: 150px;
  }
}

@media screen and (max-width: 991.98px) {
  .time {
    padding: 80px 0;
  }
  .time .time-head .time-title {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .time .time-body .time-content {
    margin-bottom: 60px;
  }
  .time .time-images .image-contain {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 767.98px) {
  .time {
    padding: 60px 0;
  }
  .time .time-head .time-title {
    font-size: 30px;
    text-align: center;
  }
  .time .time-head .time-description {
    text-align: center;
  }
  .time .time-images {
    display: block;
  }
  .time .time-images .image-contain {
    width: 400px;
    height: 133px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 575.98px) {
  .time {
    padding: 40px 0;
  }
  .time .time-body .time-content {
    margin-bottom: 45px;
  }
  .time .time-images .image-contain {
    width: 300px;
    height: 100px;
    margin-top: 15px;
  }
}
/* End time responsive */
/* End time */

/* Start structure */
.structure {
  padding: 100px 0;
}

.structure .inner-head {
  margin-bottom: 30px;
}

.structure .inner-head .head-wrapper {
  position: relative;
  width: 300px;
  height: 60px;
  background: #0080ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}

.structure > .inner-body {
  margin-left: 20px;
  margin-right: 20px;
}

.structure .inner-head .head-wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 60px solid #0080ff;
  border-bottom: 30px solid transparent;
  top: 0;
  right: -60px;
}

.structure .inner-body .board {
  text-align: center;
}

.structure .inner-body .homeroom-board {
  margin-bottom: 80px;
}

.structure .underline {
  margin: auto;
  max-width: 500px;
  background: #cbcbcb;
  height: 1px;
}

.structure .inner-body .advisory-board {
  margin-top: 80px;
}

.structure .inner-body .board .inner-head {
  margin-bottom: 60px;
}

.structure .inner-body .board .inner-head .inner-title {
  margin-bottom: 30px;
}

.structure .inner-body .board .inner-head .inner-description {
  max-width: 800px;
  margin: auto;
}

.structure .inner-head .head-title {
  z-index: 1;
  margin: 0;
  font-size: 28px;
}

.structure .inner-body .inner-title {
  color: var(--color);
}

.structure .inner-body .inner-description {
  color: var(--color);
}

.structure .inner-body .inner-box {
  width: 300px;
  height: 300px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--borderColor);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 15px;
}

.structure .inner-body .box-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.structure .inner-body .box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.structure .inner-body .box-content {
  text-align: center;
}

.structure .inner-body .box-title {
  color: var(--color);
}

.structure .inner-body .box-description {
  color: var(--color);
  margin: 0 30px;
}

.structure .inner-body .inner-box {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.structure .inner-body .inner-box .box-image img {
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.structure .inner-body .inner-box:hover {
  transform: scale(1.05);
  box-shadow: rgba(14, 30, 37, 0.25) 0px 5px 10px 0px, rgba(14, 30, 37, 0.35) 0px 10px 20px 0px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.structure .inner-body .inner-box:hover .box-title {
  color: #307ae8;
  transition: color 0.3s ease-in-out;
}

.structure .inner-body .inner-box:hover .box-description {
  color: #001656;
  transition: color 0.3s ease-in-out;
}

.structure .inner-body .inner-box:hover .box-image img {
  transform: scale(1.05);
  border: 2px solid #bd8bfa;
  transition: transform 0.5s ease-in-out, border 0.5s ease-in-out;
}

.structure .inner-body .inner-box:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

/* Start structure responsive */
@media screen and (max-width: 1199.98px) {
  .structure .inner-body .homeroom-board {
    margin-bottom: 60px;
  }
  .structure .inner-body .advisory-board {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991.98px) {
  .structure {
    padding: 80px 0;
  }
  .structure .inner-body .board .inner-head .inner-title {
    margin-bottom: 15px;
}
  .structure .inner-body .board .inner-head {
    margin-bottom: 30px;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 36px;
  }
  .structure .inner-body .box-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .structure {
    padding: 60px 0;
  }
  .structure .inner-head .head-wrapper {
    width: 250px;
    height: 50px;
  }
  .structure .inner-head .head-wrapper::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #0080ff;
    border-bottom: 25px solid transparent;
    top: 0;
    right: -50px;
  }
  .structure .inner-head .head-title {
    font-size: 24px;
  }
  .structure .inner-body .homeroom-board {
    margin-bottom: 40px;
  }
  .structure .inner-body .advisory-board {
    margin-top: 40px;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 32px;
  }
  .structure .inner-body .box-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 575.98px) {
  .structure .inner-head .head-wrapper {
    width: 100%;
  }
  .structure .inner-head .head-wrapper::before {
    display: none;
  }
}
/* End structure responsive */
/* End structure */
