/* Start keyframe animation */
@keyframes swipeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes swipeOutRight {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes shakeLeft {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/* Hiệu ứng lắc qua lại cho hình ảnh bên phải */
@keyframes shakeRight {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.header-decoration img.left {
  animation: shakeLeft 5s infinite ease-in-out;
}

.header-decoration img.right {
  animation: shakeRight 5s infinite ease-in-out;
}

.swipeInRight {
  animation-name: swipeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.swipeOutRight {
  animation-name: swipeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.show {
  display: block !important;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  display: none !important;
}

/* End keyframe */

/* Start font text */
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/static/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/static/Quicksand-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* End font text */

/* Start root variables */
:root {
  --fontTextOne: "Quicksand", sans-serif;
  --BackgroundColorOne: #f0f0f0;
}
/* End root variables */

/* Start global styles */
body {
  font-family: var(--fontTextOne);
  font-size: 18px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 991.99px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.99px) {
  body {
    font-size: 14px;
  }
}

/* End global styles */

/* Start menu */
.menu {
  height: 80px;
  position: relative;
  transition: top 1s ease, box-shadow 0.5s ease, background-color 0.3s ease; /* Đảm bảo tất cả thuộc tính cần thiết */
  z-index: 1000;
}

.menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(0);
  .menu-content,
  .navigation-item,
  .show-icon {
    color: transparent !important;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    background-clip: text;
  }
}

.menu .menu-contain {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}

.menu .menu-logo {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.menu .menu-logo:hover {
  transform: scale(1.05);
}

.menu .menu-logo img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 15px;
}

.menu .menu-content .menu-subtitle {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.menu .menu-content .menu-title {
  font-size: 16px;
  font-weight: 800;
}

.menu .navigation .navigation-item {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.menu .navigation-item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2.5px;
  background-color: #cdcdcd;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu .navigation-item:hover::before {
  width: 100%;
  left: 0;
}

.menu .navigation .navigation-item:hover {
  color: #ffffd3;
}

.menu .show-icon,
.menu .navigation-close {
  display: none;
}

@media screen and (max-width: 1199.99px) {
  .menu .navigation .navigation-item {
    margin-left: 15px;
  }
}

@media screen and (max-width: 991.99px) {
  .menu .menu-contain {
    position: relative;
  }
  .menu .show-icon {
    display: block;
    color: #ffffff;
    font-size: 30px;
  }
  .menu .navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 300px;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #ffffffee;
    z-index: 2;
  }
  .menu .navigation-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  .menu .navigation-close .hide-icon {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    background-clip: text;
  }
  .menu .navigation-close .hide-icon:hover {
    color: #ffffd3;
  }
  .menu .navigation-logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
  .menu .navigation .navigation-item {
    margin-left: 0px;
    padding: 15px 10px 15px 30px;
    display: inline-block;
    width: 100%;
    color: transparent;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    background-clip: text;
  }
  .menu .navigation-item::before {
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }
  .menu .navigation .navigation-item:hover {
    color: #ffffd3;
  }
  .menu .mask {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .menu {
    height: 60px;
  }
  .menu .menu-logo img {
    height: 30px;
    width: 30px;
  }
  .menu .menu-content {
    display: none;
  }
  .menu .menu-contain {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu .navigation {
    width: 100%;
  }
  .menu .navigation-logo img {
    height: 40px;
    width: 40px;
  }
  .menu .navigation-close .hide-icon {
    font-size: 30px;
  }
  .menu .navigation .navigation-item {
    font-size: 14px;
  }
  .menu .show-icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 575.99px) {
}

/* End menu */
