/* Start header */
.header {
  background: url(../images/index/Header/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -80px;
  width: 100%;
}

.header .header-contain,
.header .header-welcome,
.header .header-welcome .container-md {
  height: 100%;
}

.header .header-contain {
  position: relative;
}

.header .header-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding-right: inherit;
  z-index: 1;
}

.header .header-content .header-title {
  font-size: 64px;
  background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  margin-bottom: 16px;
  transition: background 0.6s ease, transform 0.6s ease;
}

.header .header-content:hover .header-title {
  background: linear-gradient(to left, #5dc0f1, #b97bfa, #f66370, #5dc0f1, #b97bfa, #f66370);
  background-size: 200% 100%; 
  background-position: 100% 0; 
  background-clip: text;
  color: transparent;
  transform: scale(1.05);
}

.header .header-description p {
  margin-bottom: 0;
}

.header .header-description i {
  background: linear-gradient(45deg, #e0e0e0, #ffffff, #f0f0f0);
  background-clip: text;
  color: transparent;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
  filter: brightness(1.5); 
  font-size: 24px;
  margin-left: 7.5px;
  display: inline-block;
}

.header .explore-introduce {
  background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
  border-radius: 32px;
  margin-top: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
}

.header .explore-introduce:hover {
  background: linear-gradient(to left, #5dc0f1, #b97bfa, #f66370);
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .header-decoration {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
}

.header .header-decoration img.right {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin: 20px;
}

.header .header-decoration img.left {
  width: 310px;
  height: 310px;
  object-fit: contain;
  margin: 40px;
}
/* Start header responsive */
@media screen and (max-width: 991.99px) {
  .header .header-content .header-title {
    font-size: 56px;
  }
  .header .header-decoration img.right {
    margin: 10px;
  }
  .header .header-decoration img.left {
    margin: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .header {
    margin-top: -60px;
  }
  .header .header-content .header-title {
    font-size: 48px;
  }
  .header .header-description p {
    font-size: 16px;
  }
  .header .header-content .header-description {
    font-size: 16px;
  }
  .header .header-decoration img.left, .header .header-decoration img.right {
    margin: 0;
  }
}

@media screen and (max-width: 575.99px) {
  .header .header-decoration img.right {
    width: 100px;
    height: 100px;
  }
  .header .header-decoration img.left {
    width: 250px;
    height: 250px;
  }
}
/* End header responsive */
/* End header */

/* Start overview */
.overview {
  height: auto;
  background: #DDF4FE;
  padding: 80px 0;
}

.overview .overview-content {
  margin-top: 60px;
}

.overview .overview-content .content-header {
  color: #003C6C;
  margin-bottom: 30px;
}

.overview .content-header .overview-title {
  font-weight: 900;
  font-size: 42px;
}

.overview .content-header .overview-subtitle {
  font-weight: 700;
  font-size: 26px;
}

.overview .overview-content .content-footer {
  color: #192335;
}

.overview .overview-image {
  max-width: 450px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.overview .overview-image img {
  width: 100%;
  height: 100%;
}
/* Start overview responsive */
@media screen and (max-width: 1199.99px) {
  .overview .content-header .overview-title {
    font-size: 40px;
  }
  .overview .content-header .overview-subtitle {
    font-size: 24px;
  }
  .overview .overview-content .content-header {
    color: #003C6C;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991.99px) {
  .overview .content-header .overview-title {
    font-size: 38px;
  }
  .overview .content-header .overview-subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 767.99px) {
  .overview {
    padding: 40px 0;
  }
  .overview .overview-content .content-header {
    text-align: center;
  }
  .overview .content-header .overview-title {
    font-size: 36px;
  }
  .overview .content-header .overview-subtitle {
    font-size: 20px;
  }
}
/* End overview responsive */
/* End introduce overview */

/* Start activities */
.activities {
  background: url(../images/index/Activities/Background.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  position: relative;
}

.activities .container-md {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 40px;

}

.activities .content-box {
  background: #003056;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.activities .content-box h3 {
  margin-bottom: 0;
  font-weight: 800;
}

.activities .content-description {
  color: #192335;
}

.activities .content-description p {
  margin-bottom: 0;
}

.activities .activities-image img {
  width: 100%;
  height: auto;
}

.activities .watch-more {
  margin-top: 60px;
  background: linear-gradient(to right, #f49fd3, #00bbbc);
  padding: 10px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.activities .watch-more:hover {
  transform: scale(1.3);
  background: linear-gradient(to left, #f49fd3, #00bbbc);
}

.activities .watch-more i {
  background: linear-gradient(45deg, #1d1c1c00, #2c2929, #3a3838);
  background-clip: text;
  color: transparent;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
  filter: brightness(1.5); 
  font-size: 24px;
  display: inline-block;
}
/* Start activities responsive */
@media screen and (max-width: 1199.99px) {
  .activities .content-box h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 991.99px) {
  .activities .content-box {
    margin-bottom: 20px;
  }
  .activities .watch-more {
    margin-top: 40px;
  }
  .activities .content-box h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767.99px) {
  .activities {
    padding: 0;
  }
  .activities .container-md {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    padding: 40px 15px;
    }
  .activities .activities-content {
    margin-bottom: 40px;
    text-align: center;
  }
  .activities .content-box h3 {
    font-size: 22px;
  }
  .activities-button {
    width: 100%;
  }
  .activities .watch-more {
    margin-left: auto;
    margin-right: auto;
  }
}
/* End activities responsive */
/* End activities */


